@tailwind components;

@property --bgGradientColor {
    syntax: "<color>";
    initial-value: "#881337";
    inherits: false;
}

@layer components {
    .bgGradient {
        @apply absolute top-0 left-0 right-0 h-28 w-full bg-right-bottom;
        background-image: linear-gradient(170deg, var(--bgGradientColor), transparent, transparent, transparent);
        transition: var(--bgGradientColor) 0.25s ease-in-out;
    }
}
